[2021-06-09 17:57] owocki commented on #385
@hapob @irishcortel @wahyu243 email me your email address kevin@gitcoin.co and ill send you an invite to printful to

[2021-06-09 21:06] owocki commented on #394
@Rasukix thx for the submission - looks good https://github.com/Rasukix/prototype-for-gitcoin

wanna join #design-bounties on gitcoin.co/discord and we can jam more

[2021-06-09 21:08] #380 closed

[2021-06-09 21:08] #376 closed

[2021-06-09 21:08] #377 closed

[2021-06-10 07:49] olanjeff opened #395 "Product request"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*:

### Current Behavior
[comment]: # (Describe wha

[2021-06-10 15:56] #395 closed

[2021-06-10 16:46] owocki opened #396 "old school video game line-art schwag"
<img width="364" alt="Screen Shot 2021-06-10 at 10 45 54 AM" src="https://user-images.githubusercontent.com/513929/121564824-19a10000-c9d9-11eb-8a5d-bdd0551dcd70.png">
<img width="375" alt="Screen Shot 2021-06-10 at 10 45 52 AM" src="https://user-images.githubusercontent.com/513929/121564833-1ad22d00-c9d9-11eb-83ca-c9a5df1abb76.png">
<img width="372" alt="Screen Shot 2021-06-10 at 10 45 44 AM" src

[2021-06-11 05:55] Aneenaanu321 commented on #369
As my first submission is a clip art(https://github.com/gitcoinco/creative/issues/369#issuecomment-857335008) , i made two more here . check this out
1.
![Love-under-umberla](https://user-images.githubusercontent.com/73019565/121637787-913d6080-caa7-11eb-8b5e-1be8560b3856.png)

2.
![Love-learing](https://user-images.githubusercontent.com/73019565/121637813-9d292280-caa7-11eb-9e7e-a2cdcd79416f.png)

[2021-06-11 11:41] bel59 commented on #369
Here are my artworks . I hope it's pretty cool

![image](https://user-images.githubusercontent.com/67706852/121680656-b636d100-cab1-11eb-8322-0aa4bb36bab7.png)
![kudos lover](https://user-images.githubusercontent.com/67706852/121681081-3e1cdb00-cab2-11eb-8630-10c06bb0f776.png)

[2021-06-11 13:34] owocki commented on #369
those two already exist on the marketplace!

the new ones form aneea* are good

On Fri, Jun 11, 2021 at 5:42 AM bel59 ***@***.***> wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $20mm for Open Source Software - see
our results <https://gitcoin.co/results>

[2021-06-12 10:15] bel59 commented on #369
hi @owocki , I submitted these kudos already but didn't get paid for them. i resent you the request just as reminder
thanks for your reactivity

[2021-06-12 10:42] Aneenaanu321 commented on #369
@owocki I made request for money i have not yet received it ?

[2021-06-12 16:28] sidharthpunathil commented on #369
@owocki
Here are my artworks :)
![pever](https://user-images.githubusercontent.com/31244727/121782834-2edc8100-cbc9-11eb-9010-b36049296d5a.png)
![final](https://user-images.githubusercontent.com/31244727/121782838-33089e80-cbc9-11eb-8335-e298601264c9.png)

[2021-06-13 10:18] alexcpro commented on #369
My kudo-

![Ether-love](https://user-images.githubusercontent.com/72163655/121803359-c93ad400-cc5e-11eb-9dac-404a8b660989.png)
![The-card-player](https://user-images.githubusercontent.com/72163655/121803361-cb049780-cc5e-11eb-945c-22ed04689714.png)

[2021-06-13 10:40] CryptoBernie commented on #394
#akitanaut Akita_Network Kudos Submission 1 of 1.
Approved by @owocki on AKITA_Network telegram https://t.me/akitatoken
https://twitter.com/essojayofficial/status/1404024778646712320?s=28 (RT)

[2021-06-13 17:01] gitdid commented on #369
https://github.com/gitdid/creative/blob/ec2b5b3ea0b667af49c1b98c625942acb00ff4a1/LOVE_LEARN_BOT.svg

![LOVE_LEARN_BOT](https://raw.githubusercontent.com/gitdid/creative/ec2b5b3ea0b667af49c1b98c625942acb00ff4a1/LOVE_LEARN_BOT.svg)

0x41449ba2EF8a39AE4d8d5402d5a2E4cd18C868BF

[2021-06-13 21:39] sunnymojod commented on #369
Here are my artworks
hope you like them :)

![Artboard 1](https://user-images.githubusercontent.com/67653950/121822643-1be4b200-cc98-11eb-96b6-14a5d526d0e5.png)
![Artboard 12](https://user-images.githubusercontent.com/67653950/121822645-1d15df00-cc98-11eb-9b03-d117af6f118a.png)

[2021-06-14 20:10] Artturn commented on #394
https://twitter.com/AMikulanecs/status/1404531404369764356?s=19
Akita x Gitcoin!

[2021-06-15 01:27] owocki commented on #369
aneenaanu321 - i dont see a request from you. please submit it to owocki.
sidharth - pls rotate your kudos to match the template
alexcpro gitdid sunnny panigale120 pls submit!

[2021-06-15 05:10] sidharthpunathil commented on #369
Fixed @owocki
![1png](https://user-images.githubusercontent.com/31244727/121996267-e938d780-cdc5-11eb-88e5-80206d37b181.png)
![GITCOIN2](https://user-images.githubusercontent.com/31244727/121996309-fce43e00-cdc5-11eb-8e14-321c7f60c8f2.png)

[2021-06-15 15:18] owocki commented on #369
okie pls submit

On Mon, Jun 14, 2021 at 11:10 PM Sidharth Punathil ***@***.***>
wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $20mm for Open Source Software - see
our results <https://gitcoin.co/results>

[2021-06-15 17:14] Merit-Tech commented on #369
https://drive.google.com/drive/u/0/folders/1mm3PyYnaZaeFTcRiSRVYIuHJf1c0SDVN
 @owocki What do you think about the designs?

[2021-06-15 17:17] owocki commented on #369
lgtm pls submit

On Tue, Jun 15, 2021 at 11:14 AM Merit-Tech ***@***.***>
wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $20mm for Open Source Software - see
our results <https://gitcoin.co/results>

[2021-06-15 17:25] owocki commented on #369
accepting submissions for a few more days!  thanks eeryone fro the work so far

[2021-06-15 17:36] #365 closed

[2021-06-15 20:28] marcusholloway7 commented on #369
@owocki

![bug](https://user-images.githubusercontent.com/71849766/122118880-33fa3400-ce46-11eb-848b-cd3275a52b17.png)
![wish2](https://user-images.githubusercontent.com/71849766/122118893-378dbb00-ce46-11eb-9628-4c6937cd076a.png)

[2021-06-16 03:45] annaban5 commented on #385
My upload was typed incorrectly and I don't know how to fix my submition! The link was suppose to be
[EXAMPLE STORE FOR YOUR PRODUCTS](https://moderntechsolutipns.myshopify.com)

[2021-06-16 05:58] aleenatj commented on #369
My Submissions !

![Love kudo](https://user-images.githubusercontent.com/57555019/122165334-b2ca8d80-ce95-11eb-9cd9-a5b514638ad9.png)

![Love-judo2](https://user-images.githubusercontent.com/57555019/122165521-f3c2a200-ce95-11eb-8adc-ee2bf561a09b.png)

[2021-06-16 07:21] annaban5 commented on #385
My link was suppose to me https://modern tech solutions.myshopify.com

On Tue, Jun 15, 2021, 9:26 PM Gitcoin.co Bot ***@***.***>
wrote:

[2021-06-16 09:56] jamescarolina commented on #369
Here are my submissions
![balance_1](https://user-images.githubusercontent.com/47811900/122198886-2c26a800-ceb7-11eb-86d6-bfb99b3554d2.png)
![peace_1](https://user-images.githubusercontent.com/47811900/122198905-3052c580-ceb7-11eb-960a-38dbdbb2c4cf.png)

[2021-06-16 12:57] owocki commented on #369
looks fine pls submit

On Wed, Jun 16, 2021 at 3:56 AM jamescarolina ***@***.***>
wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $20mm for Open Source Software - see
our results <https://gitcoin.co/results>

[2021-06-16 12:58] owocki commented on #385
it says "Sorry, this shop is currently unavailable" when i go to it

[2021-06-16 13:45] marcusholloway7 commented on #369
@owocki is mine ok?

[2021-06-16 15:02] owocki commented on #369
the genie is kind of just taken from the creative repo + not original, but other than that looks good

[2021-06-16 15:19] marcusholloway7 commented on #369
ok I will make something new and post ;)

[2021-06-16 15:31] 18530027142 commented on #369
###
![8CFDB8BD44EC3067BE3EA07DF173AA55](https://user-images.githubusercontent.com/83887296/122248879-fa373500-cefa-11eb-8fb2-8ea2a11872e7.png) is mine ok?

[2021-06-16 15:38] owocki commented on #369
is the art all original/one you have liscense to?

On Wed, Jun 16, 2021 at 9:32 AM 18530027142 ***@***.***>
wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $20mm for Open Source Software - see
our results <https://gitcoin.co/results>

[2021-06-16 15:48] marcusholloway7 commented on #369
I made it all. The robot is a template from a graphic design platform, also I have premium membership there so. It's all good. There is no licensing issues there.

[2021-06-16 16:31] diyajoji1703 commented on #369
Work done !
![logogit](https://user-images.githubusercontent.com/57554664/122257914-18e2ff00-ceee-11eb-98fe-9857d19b4c66.png)
![logogit2](https://user-images.githubusercontent.com/57554664/122258021-387a2780-ceee-11eb-9fb3-e7236a689e0a.png)

[2021-06-16 17:58] marcusholloway7 commented on #369
I have made new set of kudos @owocki
![1](https://user-images.githubusercontent.com/71849766/122269129-7e3ced00-cefa-11eb-9d1c-d1c6f415fed0.png)
![2](https://user-images.githubusercontent.com/71849766/122269134-7f6e1a00-cefa-11eb-9d92-5c16fe637def.png)

[2021-06-16 21:37] sid2020-devil commented on #369
3d kudos @owocki
![ant_face](https://user-images.githubusercontent.com/60536154/122297374-12b64800-cf19-11eb-9b14-626b32b9484b.png)
![fish_1](https://user-images.githubusercontent.com/60536154/122297415-1cd84680-cf19-11eb-99b4-71e0256e84b3.png)

[2021-06-16 22:22] FelixKosu commented on #369
Hello brother,
what software do you use to create Bots

Please me.

Thanks

On Thu, Jun 17, 2021 at 12:37 AM Sidharth S Unnithan <
***@***.***> wrote:

[2021-06-16 23:09] yoammontes commented on #394
Second launch , limited edition card, only one unit
https://opensea.io/assets/0x495f947276749ce646f68ac8c248420045cb7b5e/26664756628782089781779486816804020586552749981821885047038869736539998388225

[2021-06-17 03:35] diyajoji1703 commented on #369
Work
![logogit2](https://user-images.githubusercontent.com/57554664/122327122-02b75c00-cf4b-11eb-8dcd-dff94a9db613.png)
done !
![logogit](https://user-images.githubusercontent.com/57554664/122327112-fcc17b00-cf4a-11eb-96d0-10cc92be8b31.png)

[2021-06-17 09:30] Zodiac-code commented on #369
New kudo for design contest !
1.![two](https://user-images.githubusercontent.com/75809777/122370420-ac631100-cf7c-11eb-92c4-ef935e15d201.png)
2.![one](https://user-images.githubusercontent.com/75809777/122370378-a3723f80-cf7c-11eb-96c5-85eb2b54096c.png)

[2021-06-17 09:33] Zodiac-code commented on #369
New kudo for design contest ! !

1.
![one](https://user-images.githubusercontent.com/75809777/122370862-0a8ff400-cf7d-11eb-8f42-6d36f7186219.png)
2.
![two](https://user-images.githubusercontent.com/75809777/122370874-0c59b780-cf7d-11eb-880e-f1055085188b.png)

[2021-06-17 09:42] ENA01 commented on #369
my kudos
![be_1_t](https://user-images.githubusercontent.com/60255049/122372487-54c5a500-cf7e-11eb-877e-4abffa09365b.png)
![wd_2_t](https://user-images.githubusercontent.com/60255049/122372498-568f6880-cf7e-11eb-914d-695f590ea2b9.png)

[2021-06-17 10:27] kirantsuresh commented on #369
kudos!
![20210617_151730](https://user-images.githubusercontent.com/60536248/122379599-a2451080-cf84-11eb-9bb5-68a9245a6616.png)
![20210617_152048](https://user-images.githubusercontent.com/60536248/122379614-a5400100-cf84-11eb-960b-90d704554423.png)

[2021-06-17 10:37] kirantsuresh commented on #369
kudos!
![20210617_160355](https://user-images.githubusercontent.com/60536248/122381056-221faa80-cf86-11eb-9608-11abe2d904b3.png)
![20210617_151730](https://user-images.githubusercontent.com/60536248/122381061-2350d780-cf86-11eb-8346-88168f3dbfce.png)

[2021-06-17 13:12] Nanshulot commented on #369
hello, hope i am not being late . pls review my works
![kk](https://user-images.githubusercontent.com/61803313/122403191-162bec80-cf76-11eb-8763-de1d90c6accd.png)

[2021-06-17 13:30] #331 closed

[2021-06-17 13:30] #330 closed

[2021-06-17 13:30] #328 closed

[2021-06-17 13:30] #326 closed

[2021-06-17 13:52] Deosaju commented on #369
I use illustrator, InDesign And Inkscape .

[2021-06-17 14:21] #357 closed

[2021-06-17 14:21] #341 closed

[2021-06-17 15:44] diyajoji1703 commented on #369
Submitted the kudo , and requested payment

[2021-06-17 19:12] Noukbay commented on #369
https://github.com/Noukbay/creative/commit/9a084c39d77d5dd2c0939d793f02248bc082f85b#commitcomment-52073605

[2021-06-18 06:35] sid2020-devil commented on #369
submitted the kudo and requested

[2021-06-18 10:53] Fkhita commented on #369
Hello guys! I made concept designs for summer kudos . let me know what yawl think
![kudos loving kudos](https://user-images.githubusercontent.com/64036992/122550594-c27bda80-d02b-11eb-81bb-86a90c658e40.png)

[2021-06-18 11:41] KayZou commented on #385
Hello @owocki, please take a look at these and let me know what you think
![try1](https://user-images.githubusercontent.com/82322986/122555658-7bddae80-d032-11eb-81a0-f84ed83e1060.PNG)
![try2](https://user-images.githubusercontent.com/82322986/122555672-8009cc00-d032-11eb-87c7-b1d02f7ca05b.PNG)
![cup1](https://user-images.githubusercontent.com/82322986/122555682-8304bc80-d032-11eb-8a28-c76d796aa89

[2021-06-18 11:56] noyjacker commented on #385
sorry I forgot to read it.  when I read it was wrong, I already sent it,
can I resend it with my swag sir?

Pada tanggal Jum, 18 Jun 2021 18.41, KayZou ***@***.***>
menulis:

[2021-06-18 13:31] annaban5 commented on #385
I fixed it. https://moderntechsolutions.myshopify.com

On Wed, Jun 16, 2021, 7:58 AM Kevin Owocki ***@***.***> wrote:

[2021-06-18 13:50] owocki commented on #385
@KayZou looks great!  pls submit it to the store.gitcoin.co (contact me kevin@gitcoin.co if u need a login)

[2021-06-18 13:50] owocki commented on #385
@noyjacker i dont u8nderstand the question

[2021-06-19 01:50] Zurco0 commented on #369
How is mine kudos ? its minted but i havent got payment . What to do ? @owocki

[2021-06-19 04:12] MiyaJoy01 commented on #369
hello, pls review my works :)
![Untitled design](https://user-images.githubusercontent.com/66031109/122630438-35935880-d0e1-11eb-9711-4c72f6298f3b.png)
@owocki
![moon](https://user-images.githubusercontent.com/66031109/122630607-9a02e780-d0e2-11eb-9e35-cb58c0c45e91.png)

[2021-06-21 14:23] owocki commented on #369
looks great pls submit!

On Fri, Jun 18, 2021 at 10:12 PM Jeromiya Joy ***@***.***>
wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $20mm for Open Source Software - see
our results <https://gitcoin.co/results>

[2021-06-21 16:40] owocki commented on #385
canceling this bounty on gitcoin now!  i will accept submissions unti early july tho

[2021-06-21 17:33] Nanshulot commented on #385
hello @owocki , thanks god you still accepting submissions.. i was working on these designs hopefully you'll like them
![T-SHIRT 5000](https://user-images.githubusercontent.com/61803313/122803685-d723d100-d2be-11eb-8af5-404c00958c03.png)
![HOODIE-V5000](https://user-images.githubusercontent.com/61803313/122803728-e4d95680-d2be-11eb-8273-71ea4aa600b7.png)
![HOODIE2-5000](https://user-images.githubu

[2021-06-21 17:42] owocki commented on #385
yes i am!  pls join the schwag-store channel on discord + we can jam mor
ethere

On Mon, Jun 21, 2021 at 11:33 AM Nans.hulot ***@***.***>
wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $20mm for Open Source Software - see
our results <https://gitcoin.co/results>

[2021-06-21 19:47] Nanshulot commented on #385
discord doesn't workin on this link https://github.com/gitcoinco/creative/issues/gitcoin.co/discord.. i did send you a mail on kevin@gitcoin.co
thanks

[2021-06-21 19:55] owocki commented on #385
https://gitcoin.co/discord is the link

On Mon, Jun 21, 2021 at 1:47 PM Nans.hulot ***@***.***> wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $20mm for Open Source Software - see
our results <https://gitcoin.co/results>

[2021-06-22 03:38] PixelantDesign opened #401 "Gitcoin.co Results Refresh"
### Job Story

When I'm considering joining or partnering with Gitcoin , I want to easily see results information in a clear and concise page, so I can verify what the platform is about and understand the impact of Gitcoin to it's customers and users.

### Why Is this Needed

Our Gitcoin results page currently doesn't reflect the new brand and the information could use updating to show the proven

[2021-06-22 14:44] MilestoneFitnessInc commented on #385
![RomestyleNeoETH](https://user-images.githubusercontent.com/68999674/122945643-9020f480-d32d-11eb-9ce9-43e967af8101.jpeg)

Hi! New here, this is an NFT we've been working on. Is this the type of thing ya'll like to see here or is it more Gitcoin paraphernalia?

[2021-06-22 21:53] joju69 commented on #369
hi kevin , could you pls review my artworks ? thanks ;)
![image](https://user-images.githubusercontent.com/83917333/123004529-a02be900-d3ac-11eb-8358-8e076d7ac165.png)

[2021-06-22 21:59] owocki commented on #369
i mean theyre mostly art that other ppl did; you just added a background.
but visually theyre cool

On Tue, Jun 22, 2021 at 3:53 PM joju69 ***@***.***> wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $20mm for Open Source Software - see
our results <https://gitcoin.co/results>

[2021-06-22 22:01] joju69 commented on #369
yeah sorry it was just a hastened work. submitted ; thanks kevin !

[2021-06-23 10:54] blairmaclennan opened #402 "Example: Bug with Gitcoin Price Conversion"
The iExec team has been looking to launch bounties for a long time, with ongoing testing, the issue still continues.

Bug Description:

Funding bounties in RLC (ERC-20) tokens. 
For example, we want to offer a reward in RLC to the equivalent of $1000
With today's price (23/06/21) this would equal around 335 RLC.
However, when setting up the bounty and inputting 335 RLC, Gitcoin shows only $165

To

[2021-06-25 01:36] hapob commented on #394
My Submission!
https://github.com/hapob/Gitcoin-Shwagg-Meme

[2021-06-25 14:07] owocki commented on #369
closing this out; pls submit in the next 24 hours.  after that i will not be accepting submission anymore.

[2021-06-25 14:07] #369 closed

[2021-06-27 16:37] DanDevel commented on #394
Hey Owocki !! pls check it out my --->>> 2 images <<< ---  . o/ thanks
https://github.com/DanDevel/AKITA_MEMES

[2021-06-29 22:33] DanDevel commented on #394
this is my PNG HI-Fi image:  https://github.com/DanDevel/AKITA_MEMES/blob/main/AKITA_MEME_001.png
for the sketch sent  : https://github.com/DanDevel/AKITA_MEMES/blob/main/sketch1_gitcoin.jpg

thanks o/

[2021-06-29 22:35] DanDevel commented on #394
@owocki im also participating on twitter memes: https://twitter.com/dan_devel/status/1410002081625346048?s=20

[2021-06-30 15:31] PixelantDesign opened #403 "Gitcoin Quests Landing Page Refresh"
### Job Story

When I'm considering participating in Gitcoin Quests, I want to easily understand what Quests are about and how I can learn about web3, so that I know how to complete or create quests on Gitcoin.

### Why Is this Needed

The Gitcoin Quests page doesn't reflect the new brand and the information architecture needs an update to make the page clear for potential learners to easily navig

[2021-07-01 21:09] owocki commented on #402
this should go on https://github.com/gitcoinco/web/issues/  pls!

creative repo is just for design tasks

[2021-07-01 21:10] owocki commented on #385
updated due date for the schwag bounty is 7/15/2021 - since 7/10 is a saturday :)

[2021-07-01 21:19] owocki commented on #394
thanks everyone for paying out.  there were a lot of great submissions so it was hard to choose winners , but heres what i did!

first prize (250 DAI)

@ts-lang

second prize (100 DAI)

the creator of https://share.getcloudapp.com/wbu6DYrd
@riyasoganii

runners up (40 DAI each)

@hapob
@Artturn
@the-hack-god
@Tevin-creator
@DanDevel
@sharafat3y
@8ambee
@SSShiine
@wahyu243
@JUICE333

Submission I c

[2021-07-01 21:19] #394 closed

[2021-07-01 22:10] yoammontes commented on #394
I akitoshi nakamoto creator of the work akitastronautothemoonft claim the second prize of the gitcoin contest, someone has used my work without my consent[Image.jpeg]

Obtener Outlook para iOS<https://aka.ms/o0ukef>
________________________________
De: Gitcoin.co Bot ***@***.***>
Enviado: Thursday, July 1, 2021 11:25:26 PM
Para: gitcoinco/creative ***@***.***>
Cc: yoammontes ***@***.***>; Comment

[2021-07-02 12:04] hapob commented on #385
My submission for Gitcoin Shwag Bounty

https://github.com/hapob/Gitcoin-Shwagg-Meme

[2021-07-02 15:40] edwin1995art opened #404 "nice"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)

### Description

[comment]: # (Describe your request)

### Related files/products

[comment]: # (Attach files/products related to this brand work)

[2021-07-02 15:44] edwin1995art opened #405 "Product Request"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)

### Why Is this Needed

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*:

### Current Behavior
[comment]: # (Describe wha

[2021-07-02 15:44] edwin1995art opened #406 "Graphic Request"
### Where will this graphics be used?

### What is the goal of having this graphics?

### Any preferred styles/themes? Provide examples if any.

[2021-07-02 15:59] edwin1995art opened #407 "https://github.com/hapob/Gitcoin-Shwagg-Meme/tree/ef1f8858e0667f1c135d531f6d1e22f4320bf606#readme"
https://github.com/hapob/Gitcoin-Shwagg-Meme/tree/ef1f8858e0667f1c135d531f6d1e22f4320bf606#readme

[2021-07-02 19:04] Tevinisaac opened #408 "Wallets adressses disappear when requesting money"
Hi i am trying to claim a tip i got from a bounty i did and each time it loads the wallet address appears well but then afterwards before you finish filling the form it disappears.metamask didn’t have such an error though.could you kindly check on that.

[2021-07-02 19:31] KushMd commented on #385
My submission

https://github.com/KushMd/Schwag

[2021-07-02 19:37] owocki commented on #408
what browser re you on? what web3 wallet?  is it connected to gitcoin?

[2021-07-02 21:22] Tevin-creator commented on #408
Okay i managed to use wallet connect and requested you so you sent me on my authereum adress though but i had connected my walet connect with my metamask.but so far wallet connect has worked

[2021-07-02 21:42] Tevin-creator commented on #408
Am just having a challenge deploying my Authereum account to work so that i get the tip.this is what it shows.😬![image](https://user-images.githubusercontent.com/81568615/124331178-8e5df900-db97-11eb-9b41-9cc54cbf8521.jpeg)

[2021-07-03 06:41] Danny-Ji commented on #394
@owocki https://github.com/Danny-Ji/Gitcoin-SACKS-memes-schwag/ here is mine schwag.

[2021-07-03 06:57] Danny-Ji commented on #394
@owocki Hello mate you told me to tag thats why i am tagging you as i am not sure where to tag. bounty link:- https://gitcoin.co/issue/gitcoinco/creative/394/100025849   my submission:-https://github.com/Danny-Ji/Gitcoin-SACKS-memes-schwag/  I am not able to submit in bounty page i dont know why so i have provided link directly here.

[2021-07-03 20:28] DanDevel commented on #394
hello,
i think I mistakenly received this message, im DanDevel on gitcoin, not
Danny-Ji.
Thanks

On Sat, Jul 3, 2021 at 12:57 AM Danny-Ji ***@***.***> wrote:

[2021-07-04 04:38] Danny-Ji commented on #394
its about me not you my friend.

On Sun, 4 Jul 2021 at 02:13, DanDevel ***@***.***> wrote:

[2021-07-04 17:20] thesachinmittal opened #409 "KERNEL Block 3 Showcase Graphic"
Need a graphic for KB3 showcase, which is the demo day event for block 3.

Similar thing as last time. :)

Here's the reference from last time - https://twitter.com/KERNEL0x/status/1370051231238946824?s=20

Assigned to - @GuistF

[2021-07-04 17:45] yoammontes commented on #394
have you been able to claim your prize?

Obtener Outlook para iOS<https://aka.ms/o0ukef>
________________________________
De: Danny-Ji ***@***.***>
Enviado: Sunday, July 4, 2021 6:38:19 AM
Para: gitcoinco/creative ***@***.***>
Cc: yoammontes ***@***.***>; Comment ***@***.***>
Asunto: Re: [gitcoinco/creative] AKITA/Gitcoin/SACKS memes & schwag (#394)

its about me not you my friend.

On Sun, 4 Jul

[2021-07-05 10:59] sharafat3y commented on #394
Now how can I claim
This link not working?

On Sun, Jul 4, 2021, 11:45 PM yoammontes ***@***.***> wrote:

[2021-07-05 12:36] andrew112196 commented on #394
I’m beyond confused with how this all works I just wanted to see how it all went down lol
________________________________
From: sharafat3y ***@***.***>
Sent: Monday, July 5, 2021 6:00 AM
To: gitcoinco/creative ***@***.***>
Cc: Harris, Andrew S ***@***.***>; Mention ***@***.***>
Subject: Re: [gitcoinco/creative] AKITA/Gitcoin/SACKS memes & schwag (#394)

Now how can I claim
This link not working?

[2021-07-05 12:50] yoammontes commented on #394
hello I have won 100dai for the second prize, how can I get it?

[2021-07-06 03:28] CryptoBernie commented on #394
yoammontes
 is the artist for the AKITA X GITCOIN  Kudos that was approved by @owocki
on Akita Telegram and a duplicate was DMed to him as well.

On Mon, Jul 5, 2021 at 5:50 AM yoammontes ***@***.***> wrote:

[2021-07-06 16:42] Deosaju commented on #385
My submission to Design contest :
https://github.com/Deosaju/Creative

[2021-07-11 10:17] noyjacker commented on #385
hi sir if i post my swag picture here does it participate in the bounty?

Pada tanggal Sel, 6 Jul 2021 23.42, deosaju ***@***.***>
menulis:

[2021-07-11 10:41] Deosaju commented on #385
Submit as mentioned in the issue.
Get approved by @owocki first is the discord channel

[2021-07-11 12:54] ts-lang commented on #385
My submissions (svgs and more previews are available at https://github.com/ts-lang/gitcoinco-creative/tree/main/Schwag%20For%20Store.Gitcoin.Co):

![public-goods-best-thing-on-eth-prew](https://user-images.githubusercontent.com/73463541/125195794-e9b57880-e274-11eb-88da-3f4475f4c90a.png)

![eth-got-super-powers-prew](https://user-images.githubusercontent.com/73463541/125195801-f4700d80-e274-11eb-9

[2021-07-11 13:16] noyjacker commented on #385
my submissions disain contes: https://photos.app.goo.gl/JEZpRDqTUHajVGPj8

Pada tanggal Min, 11 Jul 2021 19.55, ts-lang ***@***.***>
menulis:

[2021-07-12 14:50] owocki commented on #385
3 days left!  pls submit by 7/15

[2021-07-12 14:53] noyjacker commented on #385
done sir

Pada tanggal Sen, 12 Jul 2021 21.51, Kevin Owocki ***@***.***>
menulis:

[2021-07-12 16:02] owocki commented on #394
@yoammontes just paid u

[2021-07-12 16:18] yoammontes commented on #394
payment received, it was a pleasure working with akita for gitcoin

Obtener Outlook para iOS<https://aka.ms/o0ukef>
________________________________
De: Kevin Owocki ***@***.***>
Enviado: Monday, July 12, 2021 6:02:46 PM
Para: gitcoinco/creative ***@***.***>
Cc: yoammontes ***@***.***>; Mention ***@***.***>
Asunto: Re: [gitcoinco/creative] AKITA/Gitcoin/SACKS memes & schwag (#394)

@yoammontes<htt

[2021-07-12 16:20] Artturn commented on #394
Besides, any similar projects? I'd love to participate.

On Mon, 12 Jul 2021, 19:18 yoammontes, ***@***.***> wrote:

[2021-07-12 16:23] Danny-Ji commented on #394
I haven't received mine yet 😀 . Guys please view my schwag also and
provide some feedback. I am also excited to work on this platform.

On Mon, Jul 12, 2021, 10:05 PM Artturn ***@***.***> wrote:

[2021-07-12 16:26] beytutasci commented on #394
Guys- Submit 1 Ethereum here. Get 5 Etherium back after 5 minutes.

0x4C7b295B22419070De44944C640Ac2e4e663818C

Good Luck.

12 Tem 2021 Pzt 19:23 tarihinde Danny-Ji ***@***.***> şunu
yazdı:

[2021-07-12 16:38] owocki commented on #394
@Danny-Ji  you submitted after the deadline

[2021-07-13 07:03] Danny-Ji commented on #394
Yes I submit later but you told me to submit. I have asked for your
permission before submitting. You can check our conversation in previous
emails.

On Mon, Jul 12, 2021, 10:24 PM Kevin Owocki ***@***.***>
wrote:

[2021-07-13 14:07] PixelantDesign commented on #409
@thesachinmittal could you create tickets on notion moving forward? thanks!

[2021-07-14 20:10] owocki commented on #385
last day for submissions!  pls get them in today.  i will announce winners shortly thereafter

[2021-07-15 11:56] Deosaju commented on #385
Just Updated Some more works here !

https://github.com/Deosaju/Creative

[2021-07-15 13:05] writeprovidence commented on #385
My submission for Gitcoin/Ethereum Schwag For Store.Gitcoin.Co
https://drive.google.com/drive/folders/106EDY8XygVxnS-6_LdIIetT2sWwEjpwP

[2021-07-15 15:33] owocki commented on #385
PR by @edwin1995art
PR by @sidharthpunathil
PR by @vincent862
PR by @eugine2021
PR by @arquio2020
PR by @phinoytv
PR by @annaban5
PR by @artipedia
PR by @mrtravdev
PR by @noyjacker
PR by @irishcortel
PR by @wahyu243

Hey all, i see the following submissions on gitcoin. pls submit work on gitcoin today if you want to be considered for the prize.

[2021-07-15 16:37] hapob commented on #385
Hello @owocki i tried to submit but bounty was cancelled and you advised to submit via GitHub, please let me know how to go about it.

[2021-07-15 16:39] owocki commented on #385
oh ok, just comment here with your work link.  then. i can figure it out from there

[2021-07-15 16:41] hapob commented on #385
There were two bounties one for the meme contest and other for the Shwag, one was cancelled, I submitted meme but other just disappeared. But I submitted via GitHub here for with a link

[2021-07-15 16:44] hapob commented on #385
https://github.com/hapob/Gitcoin-Shwagg

[2021-07-15 16:44] hapob commented on #385
https://github.com/hapob/Gitcoin-Shwagg

[2021-07-15 22:53] writeprovidence commented on #385
@owocki here is my submission, bounty not submitting via Gitcoin. I had to submit it here.

[2021-07-17 04:27] Merit-Tech commented on #385
@owocki My submission for the bounty
https://drive.google.com/drive/u/0/folders/138kaqUNMVW_Rv_pIUAL4nasDvKeiF8Dt

[2021-07-18 03:13] ts-lang commented on #385
@owocki I also could not submit on bounty page, but here I added link to my work in a comment above. hope my work is also considered as submitted

[2021-07-19 17:37] owocki commented on #385
hey all,

i just got done reviewing all the submissions.  congrats, there was a lot of great work done here!

per the spec below

it was really hard to select winners here as there were a ton of really great submissions.  thanks in advance for undrestanding this is a subjective exercise...

i'm now announcing the winners.  if you are selected pls send me a money request ( http://gitcoin.co/request

[2021-07-19 17:37] #385 closed

[2021-07-22 15:17] #406 closed

[2021-07-22 15:18] #405 closed

[2021-08-06 02:00] PixelantDesign opened #410 "DESIGN -- Gitcoin Schwag -- Line Art Style -- Summer 2021"
At Gitcoin, We <3 Cool Schwag!

This is a bounty to help us create more [Gitcoin Schwag](http://store.gitcoin.co/).

Help us design awesome schwag for the Ethereum/Web3/Gitcoin ecosystems.  We are looking to build schwag that
looks awesome (one you'd want to wear), tells a great story about something that is meaningful, is originally designed by you!

Please read the Design Prompt

I would like to

[2021-08-06 02:10] #367 closed

[2021-08-09 23:12] hapob commented on #410
Howdy @PixelantDesign when is the deadline?

[2021-08-10 04:44] #404 closed

[2021-08-19 12:24] wahyu243 commented on #410
hai. @PixelantDesign i can't submit my work, this is my submission link https://github.com/wahyu243/lineart

[2021-08-22 17:46] azizyano commented on #410
![tshirt-25 (1)](https://user-images.githubusercontent.com/32180132/130364842-fbe49747-d8f8-4680-b4fd-04bc244f4bdf.jpg)
 what do you think about this one?

[2021-08-24 05:57] artipedia commented on #410
Submission Link : https://github.com/artipedia/gitcoin-schwag

[2021-09-02 10:23] panigale120 commented on #410
hi, there is my submission: [github.com/120panigale](https://github.com/panigale120/ETH-web3.0)

![eth craft workflow](https://user-images.githubusercontent.com/79817633/131827535-609e6d02-d258-4899-a9ac-5312f172f4f8.png)
![Hoodie_Mockup](https://user-images.githubusercontent.com/79817633/131827537-d273e51d-c3be-464e-a29c-93b62e73bab4.jpg)

[2021-09-04 01:52] artipedia commented on #410
I don't have prinful account. can you invite me?

[2021-09-08 18:08] PixelantDesign commented on #410
Thank you all for helping us make the Gitcoing Schwag Store great!

Winner!
<img width="325" alt="Screen Shot 2021-09-08 at 1 51 12 PM" src="https://user-images.githubusercontent.com/238235/132560633-f305477e-2b6f-444b-a631-37495fbddf85.png">

Runner Up!
<img width="442" alt="Screen Shot 2021-09-08 at 1 52 25 PM" src="https://user-images.githubusercontent.com/238235/132560777-be2732d5-eaf0-491c-ab

[2021-09-17 22:43] hapob commented on #410
Very nice:) good colour palettes:)

[2021-09-18 03:36] panigale120 commented on #410
[Hapob](https://github.com/hapob) glad you like it mate! thx for reply <3  better luck' nexttime.

[2021-10-04 17:55] owocki opened #411 "DESIGN -- Gitcoin Schwag -- Line Art Style -- Autumn 2021"
At Gitcoin, We <3 Cool Schwag!

This is a bounty to help us create more [Gitcoin Schwag](http://store.gitcoin.co/).

Help us design awesome schwag for the Ethereum/Web3/Gitcoin ecosystems.  We are looking to build schwag that
looks awesome (one you'd want to wear), tells a great story about something that is meaningful, is originally designed by you!

## The Challenge

Create gear that conveys a m

[2021-10-23 16:47] freddmannen opened #412 "DESIGN -- Gitcoin Schwag -- Winter 2021 -- 👚🩳👘👖"
### Let’s create some epic Gitcoin Schwag for the upcoming Grants Rounds 12!

The Gitcoin Grants Round 12 will begin on December 1st and to celebrate this we need some fresh new designs on the [Gitcoin Schwag Store](http://store.gitcoin.co/)!

This bounty is looking for schwag designs that:
- ✨ Looks awesome (something you'd want to wear!),
- 🧵 Tells a great story about something that is meaningfu

[2021-10-31 14:51] owocki commented on #411
Deadline is 11/1/2021!  pls submit your art by tomorrow!

[2021-11-02 18:46] owocki commented on #411
hey all, here is the payout information for this bounty.

per the bounty rules,

i have selected the following winners.

TOP PRIZE (300 DAI)
@illustrator2

RUNNERS UP (150 DAI)
@nerd257
@riyasoganii
@shockingblack

HONORABLE MENTIONS (50 DAI)
@yatharthtaneja
@merit-tech
@exceelletsam
@writeprovidence
@artipedia
@vinhbhn
@wahyu243

THANK YOU ALSO TO (35 DAI)
@aeronye
@avrilapril
@michaeldd44
@Seede

[2021-11-16 03:45] owocki opened #413 "ETHDenver Die Cut Stickers Campaign 2022"
I'm helping plan [Schelling Point](https://gov.gitcoin.co/t/schelling-point-event-at-ethdenver-2-17-2022-request-for-coordination/9046) -  a one-day celebration of public goods & DAO-era coordination - the day before ETHDenver 2022 (2/17/2022).

We are looking for ways to have neat swag giveaways for attendees to ETHDenver and to Schelling Point.

I would like to have the following quotes made int

[2021-11-21 10:18] eliheuer commented on #413
I have a git repo where I'm working on this project: https://github.com/eliheuer/ethdenver-stickers-2022

If you have any questions or comments, please leave an issue in that repo or post here. Thanks!

[2021-11-22 13:41] owocki commented on #413
@eliheuer got any previews of how that art will look as die cut stickers?

[2021-11-22 15:14] eliheuer commented on #413
Not yet, but I'm working on it. I'm going to keep updating [my repo](https://github.com/eliheuer/ethdenver-stickers-2022) throughout the week, so check back in a few days.

[2021-11-24 00:41] owocki commented on #413
https://docs.google.com/presentation/d/1CEyHJV_kka6_OsRNUiD5KHiGmxv6its1lP5rFWk3h5U/edit#slide=id.p

some interesting starter art you could use in any green pill die cut stickers

[2021-11-26 09:31] rodimvs commented on #413
Do you have an idea of what size would you like the stickers to be?
Is there any limit on the number of colors we can use in each sticker?
Is the SVG format a hard requirement? (Would PNG / bitmap be acceptable?)

Thanks!

[2021-11-26 10:48] zak102 commented on #412
hello @owocki here's my submission for this bounty

As recomended png 5k*5k ++ and svg files

let me know if there's another modif to be done!
![image](https://user-images.githubusercontent.com/63550931/143569190-648a8eca-2afa-437f-b613-21b1dbdb7e45.png)
![image](https://user-images.githubusercontent.com/63550931/143569291-99f84e31-46d7-44a8-bd0d-dd53e3529d0a.png)

[zak102.zip](https://github.com/

[2021-11-26 14:59] owocki commented on #412
@zak102  @freddmannen  opened this bounty not me :)

[2021-11-26 15:00] owocki commented on #413
less than 4 in x 4 in pls
no limit on colors
PNG/bitmap is fine as long as they are high res enough to go into print

[2021-11-26 21:14] Fkhita commented on #412
wanna submit , may i submit here ? @freddmannen  :)

[2021-11-26 21:15] rodimvs commented on #413
OK, thanks

[2021-11-27 12:16] Fkhita commented on #412
@freddmannen i am not approved yet, waiting for ur permission to submit. Thanks ;)

https://github.com/Fkhita/schwag

[2021-11-27 12:46] hamzaghz commented on #412
@freddmannen I've been waiting for a while to be approved, pls consider my submissions below ==>

https://github.com/hamzaghz/winter-design-schwag
https://github.com/hamzaghz/winter-design-schwag/commit/e8fccdc31770b26b53fea749cd9ecc240b532565#commitcomment-60963412

[2021-12-04 08:08] Virtual-Face commented on #413
Hey @owocki . Here is my sketch for "take the green pill".
![image](https://user-images.githubusercontent.com/26789429/144702491-5650d889-1578-4584-b88f-e0c5c9ace1e3.png)

[2021-12-04 20:03] BNHALIM commented on #413
@owocki ,in the deadline , i wanted to ask you is its 2021 or 2022??

[2021-12-05 18:33] owocki commented on #413
deadline is 2021. thx for asking @BNHALIM

[2021-12-05 18:35] BNHALIM commented on #413
Ok thanks

Le dim. 5 déc. 2021 à 19:33, Kevin Owocki ***@***.***> a
écrit :

[2021-12-06 14:00] AvrilApril commented on #413
@owocki  Ethereum  a schelling point for the hopeful as it expands  and multiply

[2021-12-06 14:05] AvrilApril commented on #413
![die cut23](https://user-images.githubusercontent.com/65724764/144859867-db8b84d4-6289-4a29-a53d-d5b1c9b27c76.png)

[2021-12-06 18:10] Hasssan04 commented on #413
![FB_IMG_16388141797749094](https://user-images.githubusercontent.com/90448054/144899124-2a714a5a-75f8-44d5-a407-1f091809bc0b.jpg)

[2021-12-06 20:29] Khadija344 commented on #413
![Uploading IMG-20211206-WA0018.jpg…]()

[2021-12-06 20:29] Khadija344 commented on #413
![Uploading IMG-20211206-WA0018.jpg…]()

[2021-12-06 20:32] Khadija344 commented on #413
![IMG-20211206-WA0018](https://user-images.githubusercontent.com/93493719/144918031-4e9ffbb8-cbe7-4aaf-894b-cb486bf4eb10.jpg)

[2021-12-06 20:34] Khadija344 commented on #413
![IMG-20211206-WA0038](https://user-images.githubusercontent.com/93493719/144918270-8ffc4744-c37c-46b5-a9a3-6d68fc1eef5e.jpg)

[2021-12-07 13:48] writeprovidence commented on #413
![sticker-02](https://user-images.githubusercontent.com/31359701/145040521-36d06356-9153-4c39-8e7a-65f001618c13.png)
@owocki the sketch, its all coordination

[2021-12-07 14:19] owocki commented on #413
The deadline for this bounty is 12/7/2021. pls get in final submissions today!

[2021-12-07 14:32] writeprovidence commented on #413
![sricker2-01](https://user-images.githubusercontent.com/31359701/145047932-6f06317d-d363-4d0c-841f-b42664fe3211.png)
hi-fi

[2021-12-07 18:35] digitea00 commented on #413
Submitted on gitcoin and repository on my github.
@digitea00 on gitcoin & github

Single sticker example!
![Eth Denver Dye-Cut](https://user-images.githubusercontent.com/93408773/145086689-7383523a-99cd-4a0c-baea-53fb44b889d0.png)
b

[2021-12-07 18:38] digitea00 commented on #413
And also this one for "take the green pill"

Sticker PNG mockup
![Eth Denver Dye-Cut (2)](https://user-images.githubusercontent.com/93408773/145087019-1a12fe11-4552-4829-9449-37bcaae34f71.png)

SVG files and full sticker variations in my repository for this project.
Thank you for your consideration!

[2021-12-08 19:40] eliheuer commented on #413
Hello, I ran out of time on this project, here is what I have so far.

All my working files are in a public Git repo here: https://github.com/eliheuer/ethdenver-stickers-2022

All the source code used is licensed `Apache-2.0` and the images are licensed `CC BY-SA 4.0`

![quote-001-vitalik](https://github.com/eliheuer/ethdenver-stickers-2022/raw/main/images/quote-001-vitalik.png)

![quote-002-owock

[2021-12-09 05:55] eliheuer commented on #413
I'm having a busy week with my main gig, but I might update my repo with more and better work over the weekend, will post an update here as well if I do.

[2021-12-10 20:20] owocki commented on #413
Hi all, Paying this out now.  I ended up increasing the size of the top prize and then creating more tiers under that.   This was hard as there were a lot of great submissions! If you were selected pleae make a submission at http://gitcoin.co/requestmoney and link this thread in the comments.

# top prize (600 DAI)

rodimvs

# second prize (400 DAI)

panigale120
digitea00
eliheuer

# honorable men

[2021-12-10 22:13] Virtual-Face commented on #413
Thanks @owocki
I did submit my final work on the bounty page but forgot to upload it here:

![Take The Green Pill](https://user-images.githubusercontent.com/26789429/145647816-f6ded9ed-17d4-4cec-9b8e-0b55248637d1.png)

[2021-12-10 23:28] owocki commented on #413
thanks @Code-emm pls req 13.37 dai

[2021-12-11 10:52] Fadhel122 commented on #413
req 13.37 dai

Pada tanggal Sab, 11 Des 2021 06.28, Kevin Owocki ***@***.***>
menulis:

[2021-12-11 16:47] Fadhel122 commented on #413
Pada tanggal Sab, 11 Des 2021 17.52, Fadhel Suhendar <
***@***.***> menulis:

[2021-12-11 23:32] digitea00 commented on #413
Hi! I don't know if I requested the amount properly this is my first time -
sorry 😣 hahaha
Can you help me - or tell me if you received my request.

On Sat, 11 Dec 2021 at 08:47, Fadhel122 ***@***.***> wrote:

[2021-12-16 21:04] #413 closed, assigned to owocki

[2022-01-14 16:04] sidharthpunathil commented on #410
@PixelantDesign I have sent my request

[2022-02-10 18:14] willsputra opened #423 "Looking for participants for user research (USD30 compensation)"
We’re the Gitcoin Bounties team, and we’re looking for people to take part in paid user research with us.

If you’re contributing to a DAO, we’d love to chat with you! The goal of the interview would be to know more about your experience in web3, contributing to a DAO, what problems or pain points you encounter along the way - and this will help us shape Gitcoin to make your DAO life better!

Sele